@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --fonte-padrao: 'Roboto Condensed', coursive;
    --fonte-destaque: 'Bebas Neue', coursive;
}


body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(223, 95, 21);
}

.container {
    position: relative;
    display: block;   

    width: 600px;
    height: 420px;
    
    box-sizing: border-box;
    justify-items: center;
    align-items: center;

    align-items: center;

    border: 2px solid skyblue;
    border-radius: 10px;
    background-color: rgb(140, 193, 214);


}

h1 {
    font-family: var(--fonte-destaque);
    font-size: 40px;
    text-align: center;

    position: relative;
    top: 30px;
}

input {
    text-align: center;
    display: block;
    width: 80%;
    padding: 10px 20px;
    margin: 45px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
    top: 20px;
    font-size: 20px;
}

button {
    width: 100px;
    padding: 10px;
    background-color: rgb(223, 95, 21);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-family: var(--fonte-padrao);
    font-weight: bolder;
    display: block;
    cursor: pointer;

    position: relative;
    top: 20px;
}

#resultado {
    
    display: block;   

    width: 600px;
    min-height: 100px;
    
    box-sizing: border-box;
    justify-items: center;
    align-items: center;

    align-items: center;

    border: 2px solid skyblue;
    border-radius: 10px;
    background-color: rgb(140, 193, 214);
    margin-top: 30px;

}

h2 {
    font-family: var(--fonte-destaque);
    font-size: 25px;
}

ul {
    background-color: rgb(223, 95, 21) ;
    
}

ul, li {
    background-color: rgb(223, 95, 21);
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}


#resultado {
    
    display: block;   

    width: 600px;
    min-height: 100px;
    
    box-sizing: border-box;
    justify-items: center;
    align-items: center;

    align-items: center;

    border: 2px solid skyblue;
    border-radius: 10px;
    background-color: rgb(140, 193, 214);
    margin-top: 30px;

}

h2 {
    font-family: var(--fonte-destaque);
    font-size: 25px;
}

@media (max-width:1000px) {

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: rgb(140, 193, 214);
    }
    .container {
        width:400px;
        height:420px;

        background-color: rgb(223, 95, 21);
    }

    #resultado {
        width: 400px;
        min-height: 120px;
        margin-top: 30px; /* Espaço acima e centralização */
        background-color: rgb(223, 95, 21);
    }

    button {
        background-color: rgb(140, 193, 214);
    }

    h1 {
        font-size: 35px;
    
    }
}

@media (max-width:450px) {

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: rgb(223, 95, 21);
    }
    .container {
        width: 350px;
        height: 420px;

        background-color: rgb(140, 193, 214);
        
    }

    #resultado {
        width: 350px;
        min-height: 120px;
        margin-top: 30px; /* Espaço acima e centralização */
        background-color: rgb(140, 193, 214);
    }

    button {
        background-color: rgb(223, 95, 21);
    }

    h1 {
        font-size: 35px;
    
    }
}